*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
}
header{
	position:relative;
	background-color:rgba(20, 19, 17,0.7);
	width:100%;
	height:10vh;
	text-align:center;
	/* position:fixed; */
	z-index:1;
}
a{
	text-decoration:none;
	color:white;
}
li{
	list-style-type:none;
	padding-right:50px;
}
 a:hover{
	color:orange;
}
ul{
	display:flex;
	justify-content:space-between;
}
.header-main{
	display:flex;
	justify-content:space-between;
	color:white;
	align-items:center;
	width:100%;  
	box-sizing:border-box;
	/* padding-top:20px; */
}
.text h1{
	color:white;
}
.panner-cont{  
	background-image:url(../img/hero-bg.jpg);
	background-size:cover;
	width:100%;
	height:87vh;
	background-attachment:fixed;
	position:relative;
	color:white;
	align-items:center;
}
.panner-cont:after{
	content:"";
	background:rgba(60, 64, 71 ,0.6);
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.a{
	color:white;
}
button{
	margin-top:10px;
	padding:10px 45px;
	border: 3px solid orange;
	background-color:transparent;
	font-size:1rem; 
	color:white;
	border-radius:50px;
	font-weight:bold;
	cursor:pointer;
}
button:hover{
	background-color:yellow;
}
.contine{
	text-align:center;
	z-index:1;
	padding-top:17%;
	position:relative;
}
.panner-cont p{
	font-size:2rem;
	letter-spacing:1px;
}
.panner-cont h1{
	font-size:3rem;
	letter-spacing:2px;
}
.img-link{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding:20px;
	filter:grayscale(1);
}
.img-link:hover{
	filter:none;
	
}
/* about */
.images{
	display:flex;
	max-width:100%;
	padding:20px 0px 20px 0px;
	height:auto;
	box-sizing:border-box;
}
 .para p{
	 color:gray;
	 font-weight:10px;
	 font-family:;
	 font-size:20px;
	 padding-top:10px;
	 line-height:2rem;
 }
.image img{
	width:100%;
	height:90vh;
}
.about{
	width:60%;
	padding:20px;
}
.about2{
	display:flex;
	justify-content:space-between;
}
.about-cont{
	margin-top:20px;
	width:100%;
}
.about-text{
	width:100%;
	height:50%
}
.about-text h3{
   font-weight: 700;
    font-size: 34px;
    color: #414c64;
	letter-spacing:5px;
}
.about-cont h4{
	font-size:1rem;
	font-weight:bold;
	font-size:30px;
}
.ak h4{
	font-size:1rem;
	font-weight:bold;
	font-size:30px;
	color:rgb(44, 47, 51);
	letter-spacing:3px;
}
.kp p{
	color:black;
	font-size:20px;
	font-weight:20px;
}
.receipt{
	font-size:60px;
    margin-left: 15px;
    color: #8b97b3;
}
.cube{
	font-size:60px;
    margin-left: 15px;
    color: #8b97b3;
}
.num{
	width:100%;
	padding-top:10px;
	display:flex;
	justify-content:space-between;
	text-align:center;
	color:rgb(87, 115, 161);
}
.box h1{
 font-size:60px;
 font-weight:30px; 
}
/* service */
.sev-img{
	width:100%;
	display:flex;
	justify-content:space-between;
	padding-top:20px;
	height:auto;
}
.SERVICES{
	width:100%;
	margin-top:25px;
}
.sev-p{
text-align:center;
padding-top:20px;
}
.b1, .b2, .b3, .b4, .b5, .b6{
	font-size:45px;
	background-color:white;
	border:2px solid white;
	border-radius:50%;
	padding:10px;
} 
.b1{
	color:blue;
}
.b1:hover{
	background-color:blue;
	color:white;
}
.b2{
	color:orange;
}
.b2:hover{
	background-color:orange;
	color:white;
}
.b3{
	color:red;
}
.b3:hover{
	background-color:red;
	color:white;
}
.b4{
	color:orange;
}
.b4:hover{
	background-color:orange;
	color:white;
}
.b5{
	color:red;
}
.b5:hover{
	background-color:red;
	color:white;
}
.b6{
	color:skyblue;
}
.b6:hover{
	background-color:skyblue;
	color:white;
}
.imgv{
	width:100%;
	height:300px;
	padding:50px 0px 30px 0px;
	text-align:center;
	margin-right:10px;
	box-shadow:0 0 2px black;
}
.action{
 background-color:black;
 color:white;
 text-align:center;
}
.ap h2{
font-size:3rem;
font-weight:bold;
}
.act{
 padding: 20px 0px 20px 0px;
 margin-top:20px;
 width:100%;
 height:auto;
}
/* trc */
.sec7{
	padding: 60px 0px;
	text-align:center;
}
.text{
	padding-bottom:30px;
	text-align:center;
}
.testimonials{
	width:100%;
	height:auto;
	padding:20px 0px 20px 0px;
	margin-top:10px;
}
.texttim{
	display:flex;
	justify-content:space-between;
	margin-top:20px;
}
.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
	font-size:26px;
	color:#ffe7a0;
}
.text h2{
	font-size: 32px;
    font-weight: bold;
	padding-bottom:20px;
}
.monials{
	border:1px solid blue;
	box-shadow:0 0 2px blak;
	width:100%;
	height:400px;
	padding:15px;
	margin-right:10px;
	margin-left:10px;
}
.monials p{
	line-height:2rem;
	font-style:italic;
	font-size:20px;
}
.monials .testimonials-1{
	width:90px;
	border-radius:50%;
	border:6px solid white;
	left:0;
	}
.monials h3{
	font-size:20px;
	font-weight:bold;
}
.monials h4{
	font-size:15px;
	color:gray;
}
.protfolio{
	text-align:center;
	margin-top:20px;
}
.prot-imgs{
	width:100%;
	height:auto;
	margin-top:10px;
}
.prot-img{
  padding-bottom:10px;
  width:100%;

}
.prot-link{
	color:black;
	display:flex;
	padding:10px;
	align-items:center;
	width:100%;
	height:50px;
	padding-left:35%;
}
#pr{
	color:black;
	border:1px solid white;
	padding:9px 20px;
	border-radius:50px;
}
#pr:hover{
	background-color:yellow;
	color:white;
}
/* team */
.team-cont{
	width:100%;
	height:300px;
	display:flex;
	justify-content:space-between; 
	align-items:center;
}
.tcont1 img{
	border-radius:10px;
}
.cont-h{
	margin-top:10px;
}
.tcont1 h4{
	color:gray;
	font-weight:10px;
}
/* pricing */
.priec{
	padding-top:20px;
}
.pri-cont{
	margin-top:10px;
}
.pricis{
  display:flex;
  width:100%;
  height:400px;
  justify-content:space-between;
}
.pri-nu{
	width:100%;
	height:300px;
	border:1px solid white;
	box-shadow:0 0 1px blak;
	line-height:25px;
	margin-right:10px;
	position:relative;
	padding:10px;
}
.pri-link{
	background-color:white;
	padding:20px;
	margin-top:50px;
	border-radius:10px;
}
.pri-link a{
	color:blue;
	
}
del{
	color:gray;
	font-weight:small-caption;
}
.adv{
	background-color:#ffc107;
	transform:rotate(50deg);
	width: 90px;
	position:absolute;
	color:white;
	text-align:center;
	margin-left:65px;
	margin-top:15px;
	border-radius:30px;
}
.pri-amo h3{
	background-color:white;
	padding:20px;
	border-radius:10px;
	box-shadow:0px 0px 4px rgb(0 0 0 / 12%);
}
.pri-amo h4{
	color:orange;
	font-size:20px;
	font-weight:bold;
	padding-top:5px;
}
.pri-amo span{
	color:gray;
	font-size:15px;
	font-weight:small;
}
.pric{
	padding-top:10px;
}